body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#main-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

#player-container {
    flex: 4;
    margin-right: 20px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* For floating effect */
    top: -10px; /* Slightly lift the player */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Add shadow for floating effect */
}

#player {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background-color: #000;
}

#epg-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Set a fixed width */
    margin-left: 20px; /* Add space between player and EPG container */
    margin-bottom: 10px;
}

#now-playing {
    background-color: #88eae8;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#epg-container {
    width: 100%;
    height: 400px; /* Set a fixed height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.epg-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.epg-title {
    font-weight: bold;
}

.epg-time {
    color: #888;
}

.card-slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.card-slider-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.card-slider-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: auto;
}

.card-slider-container {
    position: relative;
    width: 100%;
}

.card-slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* Prevent vertical scrolling */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 10%;
    min-height: 150px; /* Minimum height to show loading animation */
}

.card {
    position: relative; /* Add this to position the LIVE badge */
    flex: none;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition effect */
}

.card:hover {
    transform: translateY(-10px); /* Lift the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Deepen shadow on hover */
}

.card img {
    width: 180px;
    height: 100px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}

.card-content {
    padding: 10px;
    text-align: center;
    position: relative; /* Add this to position the LIVE badge */
    width: 100%; /* Ensure the card content fills the card */
}

/* New styles for LIVE text */
.live-badge {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 20px; /* Align to the right side */
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.fade-effect {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0));
    pointer-events: none; /* Allow interactions through the fade effect */
}

#spinner {
    display: none;
    margin-top: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
        align-items: center;
    }

    #player-container {
        flex: 4;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #now-playing {
        font-size: 10px;
        padding: 3px;
        width: 100%;
    }

    #epg-container {
        width: 100%;
        height: 400px; /* Adjust height for mobile */
    }

    .card-slider-wrapper {
        width: 100%;
    }

    .current-epg {
        background-color: #d3f8d3;
        border-left: 5px solid #4caf50;
    }
}