body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed from height to min-height */
    background-color: #f0f0f0;
    box-sizing: border-box; /* Ensure padding is included in height calculation */
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}

#main-container {
    display: flex;
    flex-direction: row; /* Ensure row direction for large screens */
    align-items: flex-start; /* Align items to the start */
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 20px; /* Ensure consistent spacing on top */
}

#player-container {
    flex: 4;
    margin-right: 20px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: -10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make sure it takes full width on smaller screens */
}

#player {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background-color: #000;
}

#epg-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#now-playing {
    background-color: #00b3ff;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#epg-container {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

.epg-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.epg-title {
    font-weight: bold;
}

.epg-time {
    color: #888;
}

.current-epg {
    border-left: 5px solid #00b3ff;
}

.current-playing-text {
    color: #00b3ff;
    font-weight: bold;
    margin-top: 5px;
}

.coming-next {
    background-color: #f9f9f9;
    border-left: 5px solid #029bdd;
}

.coming-next-text {
    color: #029bdd;
    font-weight: bold;
    margin-top: 5px;
}

.card-slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.card-slider-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.card-slider-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: auto;
}

.card-slider-container {
    position: relative;
    width: 100%;
}

.card-slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 10%;
    min-height: 150px;
}

.card {
    position: relative;
    flex: none;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 180px;
    height: 100px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}

.card-content {
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}

.live-badge {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.fade-effect {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0));
    pointer-events: none;
}

#spinner {
    display: none;
    margin-top: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    #main-container {
        flex-direction: column;
        align-items: center;
    }

    #player-container {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%; /* Ensure full width on smaller screens */
    }
    
    #epg-wrapper {
        width: 100%; /* Ensure full width on smaller screens */
        margin-left: 0; /* Remove left margin */
    }
}

@media (max-width: 768px) {
    #main-container {
        width: 100%;
        margin: 10px auto; /* Adjust margins for smaller screens */
        margin-top: 20px; /* Ensure consistent spacing on top */
    }

    #player-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        top: 0; /* Reset top positioning on smaller screens */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Adjust shadow for smaller screens */
    }

    #epg-wrapper {
        display: none; /* Hide the EPG container on smaller screens */
    }
}